{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
  <link rel="stylesheet" href="{% static 'blog/index.css' %}">
  <link rel="stylesheet" href="{% static "blog/post.css" %}" />
{% endblock %}

{% block title %}Welcome to my website{% endblock title %}

{% block content %}
  <!-- Navigation bar -->
  <nav>
    {% include "extras/navigation_bar.html" %}
  </nav>

  <!-- Main title and image -->
  <div class="hero">
    <img src="{% static "blog/images/main_image.webp" %}" alt="artmiss gns">
    <h1>Artmiss</h1>
  </div>

  <!-- Brief description of the page -->
  <p class="post-preview">Welcome to my blog, where I share my thoughts on ...</p>

  <!-- Last 3 posts section -->
  <div class="post-preview">
   {% for post in data %}
    <div class="post">
        <img src="{{post.image.url}}" alt={{post.title}} class="circle">
        <h3>
          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h3>
        <p>{{post.excerpt}}</p>
    </div>
   {% endfor %}
  </div>

  <!-- About section -->
  <div class="about">
    <h2>About Me</h2>
    <p>I'm Artmiss, a ML Engineer.</p>
    <p>You can find me on github as artmiss-gns</p>
  </div>
{% endblock %}
